.App {
  display: flex;
  width: 80%;
  height: 100%;
  background: white;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  background-color: #d7d7d7;
  border-radius: 15px;
}